# Node dependencies
node_modules/

# Cookie files
*cookies.json

# Environment variables
.env
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.pid
*.pid.lock
checkpoint*.json
to_checkout.json
*udemy*.json

# Build output
dist/
build/
lib/
out/
.esbuild/
.nyc_output/
coverage/

# Editor / IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Package manager caches (optional)
.pnpm-store/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state/

# Misc
.cache/
.tmp/